[Desktop Entry]
Type=Application
Categories=Utility
X-Nemo-Application-Type=silica-qt5
Icon=harbour-icalendar-filters
Exec=harbour-icalendar-filters
Name=iCalendar-filters
Name[fi]=iCalendar-suodattimet

[X-Sailjail]
OrganizationName=null.hsjpekka
ApplicationName=harbour-icalendar-filters
Permissions=Internet;Downloads;
